<ion-view view-title="Opties">
  <ion-content>
    <div class="list">
<div ng-show='loader'><img ng-src="img/loading.gif" class="loader"></div>
  <a class="item item-icon-left item-icon-left" href="#/app/teamtimedchampions">
    <i class="icon"><img class="icon-competition" ng-src="img/champions.png"></i>

Competitie Programma
  </a>
  <a class="item item-icon-left item-icon-left" href="#/app/teamfinishedchampions">
    <i class="icon"><img class="icon-competition" ng-src="img/champions.png"></i>

Gespeelde Wedstrijden
  </a>
  <a class="item item-icon-left item-icon-left" href="#/app/teaminplaychampions">
    <i class="icon"><img class="icon-competition" ng-src="img/champions.png"></i>

Live Score
  </a>

  <a class="item item-icon-left item-icon-left" href="#/app/teaminfochampions">
    <i class="icon"><img class="icon-competition" ng-src="img/champions.png"></i>

Marktwaarde clubs
  </a>


</div>
  </ion-content>
</ion-view>
