<ion-view view-title="Competities">
  <ion-content ng-controller="HomeCtrl">
    <div class="list">

<a class="item item-icon-left" href="#/app/englandoptions">
    <i class="icon"><img class="icon-competition" ng-src="img/premierleague.png"></i>
    Premier League
  </a>

  <a class="item item-icon-left item-icon-left" href="#/app/spainoptions">
    <i class="icon"><img class="icon-competition" ng-src="img/ligabvva.png"></i>
    Primera División
  </a>

  <a class="item item-icon-left" href="#/app/italyoptions">
    <i class="icon"><img class="icon-competition" ng-src="img/seriea.png"></i>
    Serie A
  </a>

  <a class="item item-icon-left" href="#/app/germanyoptions">
    <i class="icon"><img class="icon-competition" ng-src="img/bundesliga.png"></i>
    Bundesliga
  </a>
    <a class="item item-icon-left" href="#/app/dutchoptions">
    <i class="icon"><img class="icon-competition" ng-src="img/eredivisie.png"></i>
    Eredivisie
  </a>
    <a class="item item-icon-left" href="#/app/franceoptions">
    <i class="icon"><img class="icon-competition" ng-src="img/lique1.png"></i>
    Lique 1
  </a>
</div>
  </ion-content>
</ion-view>
