<ion-view view-title="Competities">
  <ion-content>
<div class="list">

  <a class="item item-icon-left" href="#/app/england">
    <i class="icon ion-ios-football"></i>
    Premier League
  </a>

  <a class="item item-icon-left item-icon-left" href="#/app/spain">
    <i class="icon ion-ios-football"></i>
    Primera División
  </a>

  <a class="item item-icon-left" href="#/app/engeland">
    <i class="icon ion-ios-football"></i>
    Serie A
  </a>

  <a class="item item-icon-left" href="#/app/engeland">
    <i class="icon ion-ios-football"></i>
    Lique
  </a>
</div>
  </ion-content>
</ion-view>
