<ion-view view-title="Competities">
  <ion-content>
    <div class="list">

<a class="item item-icon-left" href="#/app/england">
    <i class="icon"><img class="icon-competition" ng-src="img/United-Kingdom.png"></i>
    Premier League
  </a>

  <a class="item item-icon-left item-icon-left" href="#/app/spain">
    <i class="icon"><img class="icon-competition" ng-src="img/Spain.png"></i>
    Primera División
  </a>

  <a class="item item-icon-left" href="#/app/italy">
    <i class="icon"><img class="icon-competition" ng-src="img/Italy.png"></i>
    Serie A
  </a>

  <a class="item item-icon-left" href="#/app/germany">
    <i class="icon"><img class="icon-competition" ng-src="img/Germany.png"></i>
    Bundesliga
  </a>
    <a class="item item-icon-left" href="#/app/dutch">
    <i class="icon"><img class="icon-competition" ng-src="img/Netherland.png"></i>
    Eredivisie
  </a>
    <a class="item item-icon-left" href="#/app/france">
    <i class="icon"><img class="icon-competition" ng-src="img/France-icon.png"></i>
    Lique 1
  </a>
</div>
  </ion-content>
</ion-view>
