<ion-view view-title="Options">
  <ion-content>
    <div class="list">

<a class="item item-icon-left" href="#/app/england">
       <i class="icon"><img class="icon-competition" ng-src="img/premierleague.png"></i>

   Ranglijst
  </a>

  <a class="item item-icon-left item-icon-left" href="#/app/teamfixtures">
    <i class="icon"><img class="icon-competition" ng-src="img/premierleague.png"></i>
    
competitieprogramma
  </a>
  
 <a class="item item-icon-left item-icon-left" href="#/app/teaminfo">
    <i class="icon"><img class="icon-competition" ng-src="img/premierleague.png"></i>
    
Marktwaarde clubs
  </a>


</div>
  </ion-content>
</ion-view>
