<ion-view   hide-back-button="true" title='<img class="title-image" src="img/logosensatie3.jpg" />'>
<ion-content ng-controller="HomeCtrl" scroll="false">
  <ion-slide-box does-continue="true" auto-play="true" on-slide-changed="slideChanged(index)">
         <ion-slide>
             <img class="slide1" src="img/messi.jpg">
         </ion-slide>
         <ion-slide>
                <img class="slide1" src="img/diego costa.jpg">
            
         </ion-slide>
         <ion-slide>
             <img class="slide1" src="img/city.jpg">
         </ion-slide>
         <!--<ion-slide>
             <img class="slide1" src="img/cristiano-ronaldo.jpg">
         </ion-slide>-->
       </ion-slide-box>
</ion-content>
<ion-footer-bar align-title="left" class="bar-assertive">
  <h1 class="title" style="text-align: center;" > &reg; WaVe Media</h1>
</ion-footer-bar>
</ion-view>
