<ion-view side-menu-content drag-content="false">
      <ion-nav-title>
		  {{league}}
    </ion-nav-title>
  <ion-content>
    <ion-list class="ranglijst" >
  <table><tr>
  <td class="leegveld" ></td>
   <td class="grotevanvakjes">A</td>
   <td class="grotevanvakjes">P</td>
   <td class="grotevanvakjes">G</td>
   <td class="grotevanvakjes">W</td>
   <td class="grotevanvakjes">G</td>
   <td class="grotevanvakjes">V</td>
  </tr></table>

      <ion-item class="itemsbuiten"  ng-repeat="t in teams.standing">


   <div style="overflow-x:auto;">
  <table>

    <tr>
      <td class="grotevanvakjes">  {{t.position}} </td>
      <td class="clubnamen" > <img class="logoclub" ng-src="{{t.crestURI}}"> {{t.teamName}}</td>
      <td style="border-right:1px solid:" class="grotevanvakjes">{{t.playedGames}} </td>
      <td class="grotevanvakjes">{{t.points}}</td>
      <td class="grotevanvakjes" >{{t.goals}}</td>
      <td class="grotevanvakjes">{{t.wins}}</td>
      <td class="grotevanvakjes">{{t.draws}}</td>
       <td class="grotevanvakjes">{{t.losses}}</td>
    </tr>
    
    

  </table>
 

</div>
   
    
   </ion-item>
   </ion-list>
   <p class="aantal">A = Aantal gespeelde wedstrijden</p>
   <p class="aantal">P = Aantal behaalde punten deze competitie</p>
   <p class="aantal">G = Aantal goals gemaakt</p>
   <p class="aantal">W = Aantal gewonnen wedstrijden</p>
   <p class="aantal">G = Aantal gelijk gespeelde wedstrijden </p>
   <p class="aantal">V = Aantal verloren wedstrijden</p>
  </ion-content>
</ion-view>
