<ion-view view-title="Signup">
  	<ion-content>
  	<h4 class="pagetitles" >Maak hier uw account aan</h4>
	    <div class="containerpages">
	   <h5>Email:</h5>
	   <label class="item item-input">
        <input type="email" ng-model="newUser.email" placeholder="Email:">
      </label><br>
	  <h5>Wachtwoord:</h5>
	  <label class="item item-input">
        <input type="password" ng-model="newUser.password" placeholder="Wachtwoord:">
      </label>
	  <button ng-click="signup()" class="button button-block button-positive">Signup</button>
	  </div>
	</ion>
</ion>
