<ion-view>
      <ion-nav-title>
Gespeeld
    </ion-nav-title>
  <ion-content>
   <ion-list class="ranglijst" >

     <ion-item class="itemsbuiten" ng-repeat="team in isFinished">
     
      
       
         <div style="overflow-x:auto;">
  <table>
   
    <tr>
    
      <td class="clubnamen" > {{team.homeTeamName}}</td>
      <td class="grotevanvakjes">{{team.result.goalsHomeTeam}} </td>
       <td class="grotevanvakjes"> - </td>
      
      <td class="grotevanvakjes">{{team.result.goalsAwayTeam}}</td>
      <td class="clubnamen" >{{team.awayTeamName}} </td>
      <td class="grotevanvakjes">{{team.date}} </td>
      
    </tr>
  
   
  </table>
</div>
         
          
		   
		   
		   
		   </ion-item>

   </ion-list>
  </ion-content>
</ion-view>
