/* Empty. Add your own CSS if you like */

ion-header-bar.bar-stable.bar.bar-header {
background-color: white;}

.icon-competition{
	width:30px;
}

.facebook-icon{
	height:35px;
	border-radius:2em;
}


ion-item:nth-child(even) {background: #F0F0F0;}

.logoclub {    height: 24px;
    margin-right: 16px; width: 23px; display:inline-block; float:left;}

.points {display:inline-block; float: right; margin-right: 2%; margin-top:3px;}
.teamname {display:inline-block; margin-top:3px; color:#939393; }

.homeimg {    width:100%;
   }

.contactimg {width: 100%;
    padding: 22px;}
.contact-container {  padding: 22px;
    background-color: #F0F0F0;
    height: auto;
    margin: 22px;
    margin-bottom: 0px;
   }

.ion-ios-person:before {color: #FFCC7B;
    margin-right: 13px;}

.ion-ios-gear:before {color: #FFCC7B;
    margin-right: 8px;}

.container {padding:9px;}
.marketvalue {    float: right;
    margin-right: 0%; color:#939393;}

.facebooklogin {width: 15px; margin-right:8px;}

a#geenAccount {    float: left;
    font-size: 13px;}

button#wachtwoordvergeten {    font-size: 13px;
    float: right;}

.ion-person:before {color: white; margin-right:8px;}

.list p {font-size: 18px;
    color: #858585;}

.ion-ios-telephone:before {color:#FFCC7B; margin-right: 11px;}

img.slide1 {width: 100%; height:100%;}

.spinner svg {
	height:70px;
	width:70px;
  stroke: #003352;
  fill: #003352;
	background:none;
}
.title-image{
	  width: 22%;
    margin-top: 10px;

}
.loading-container .loading{
	background:none !important;
}
.ion-ios-football:before { color: #FFCC7B; margin-right: 8px;}
.ion-home:before {color:#FFCC7B; margin-right: 8px;}
#username {margin-left: 13px;
    margin-top: 6px;
    font-size: 16px; color:white;}



    /*.background.scroll-content {
      background: url('../img/voetbalveld.png') no-repeat;
     background: url('../img/voetbalveld.png') no-repeat;
    z-index: 9999;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 49px;
    background-position: center;
    }*/

		#pitch{
				background: linear-gradient(-90deg, #003352, #D3D3D1, #003352);
		    width: 590px;
		    height: 380px;
		    position: absolute;;
		    -ms-transform: rotate(90deg); /* IE 9 */
		    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
		    transform: rotate(90deg);
				margin-top:94px;
				margin-left:-109px;
		}
		#pitch:after{
		  content: "";
		  border-left: 1px solid white;
		  position: absolute;
		  top :20px;
		  left :295px;
		  display:block;
		  height:340px;
		}

		#pitch:before{
		  content: "";
		  border: 1px solid white;
		  position: absolute;
		  top :20px;
		  left :20px;
		  display:block;
		  width: 550px;
		  height:340px;
		}

		.center-circle{
		    position: absolute;
		    top: 145px;
		    left: 250px;
		    width: 90px;
		    height: 90px;
		    border: 1px solid white;
		    border-radius: 50%;
		}
		.center-circle:after{
		    position: absolute;
		    top: 43px;
		    left: 43px;
		    width: 1px;
		    height: 1px;
		    background-color:white;
		    content:"";
		    border:1px solid white;
		}

		.penalty-area{
		    position: absolute;
		    height: 140px;
		    width: 80px;
		    top: 120px;
		    border: 1px solid white;
		}

		.left .penalty-area{
		    left: 20px;
		    border-left: 0;
		}

		.right .penalty-area{
		    right: 19px;
		    border-right: 0;
		}

		.penalty-area:before{
		    position: absolute;
		    height: 70px;
		    width: 35px;
		    top: 35px;
		    border: 1px solid white;
		    content:"";
		}
		.left .penalty-area:before{
		   left:0px;
		  border-left:0;
		}
		.right .penalty-area:before{
		   right:0px;
		  border-right:0;
		}

		.penalty-area:after{
		    position: absolute;
		    height: 2px;
		    width: 2px;
		    top: 70px;
		    background-color:white;
		    content:"";
		}
		.left .penalty-area:after{
		    right:15px;
		}
		.right .penalty-area:after{
		    left:15px;
		}

		.player{
		  position:absolute;
		  width:50px;
		  height:50px;
		}
		.player:after{
		  font-size:10px;
		  position:absolute;
		  left:3px;
		}
		.home-team .player{
		  background:transparent;
			-ms-transform: rotate(-90deg); /* IE 9 */
	    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	    transform: rotate(-90deg);
		}
		.home-team .player.one{
		  top:165px;
		  left:20px;
		  background:transparent;
		}
		.home-team .player.one:after{
		}
		.home-team .player.two{
		      top: 284px;
    left: 81px;
		}
		.home-team .player.two:after{
		}
		.home-team .player.three{
		top: 46px;
    left: 78px;
		}
		.home-team .player.three:after{
		}
		.home-team .player.four{
		    top: 165px;
    left: 86px;
		}
		.home-team .player.four:after{
		}
		.home-team .player.five{
		      top: 66px;
    left: 239px;
		}
		.home-team .player.five:after{
		}
		.home-team .player.six{
		      top: 304px;
    left: 160px;
		}
		.home-team .player.six:after{
		}
		.home-team .player.seven{
		top: 28px;
    left: 160px;
		}
		.home-team .player.seven:after{
		}
		.home-team .player.eight{
		  top: 114px;
    left: 160px;
		}
		.home-team .player.eight:after{
		}
		.home-team .player.nine{
		      top: 215px;
    left: 160px;
		}
		.home-team .player.nine:after{
		}
		.home-team .player.ten{
		          top: 165px;
    left: 240px;
		}
		.home-team .player.ten:after{
		  left:0px;
		}
		.home-team .player.eleven{
		     top: 265px;
    left: 240px;
		}
		.home-team .player.eleven:after{
		  left:0px;
		}
		.visitor-team .player{
		  background:transparent;
			-ms-transform: rotate(-90deg); /* IE 9 */
	    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	    transform: rotate(-90deg);
		}
		.visitor-team .player:after{
		  color:white;
		}
		.visitor-team .player.one{
		    top: 167px;
    right: 20px;
		  background:transparent;
		}
		.visitor-team .player.one:after{
		  color:red;
		}
		.visitor-team .player.two{
		  top: 284px;
    right: 80px;
		}
		.visitor-team .player.two:after{
		}
		.visitor-team .player.three{
		  top: 28px;
    right: 161px;
		}
		.visitor-team .player.three:after{
		}
		.visitor-team .player.four{
		 top: 46px;
    right: 80px;
		}
		.visitor-team .player.four:after{
		}
		.visitor-team .player.five{
		      top: 166px;
    right: 86px;
		}
		.visitor-team .player.five:after{
		}
		.visitor-team .player.six{
		      top: 304px;
    right: 160px;
		}
		.visitor-team .player.six:after{
		}
		.visitor-team .player.seven{
		     top: 66px;
    right: 238px;
		}
		.visitor-team .player.seven:after{
		}
		.visitor-team .player.eight{
		 top: 114px;
    right: 160px;
		}
		.visitor-team .player.eight:after{
		}
		.visitor-team .player.nine{
		 top: 215px;
    right: 160px;
		}
		.visitor-team .player.nine:after{
		}
		.visitor-team .player.ten{
		 top: 162px;
    right: 240px;
		}
		.visitor-team .player.ten:after{
		  left:0px;
		}
		.visitor-team .player.eleven{
		    top: 265px;
    right: 238px;
		}
		.visitor-team .player.eleven:after{
		  left:0px;
		}

.homeawayteam {float:left;}
.teamdate {float: right; }
p.homeawayteam.ng-binding {font-size:9px;}
p.teamdate.ng-binding {font-size:9px;}


@media screen and (max-width: 320px) {
    #pitch {    zoom: 103%;     margin-top: 84px; height: 399px;}

	.teamname {
    display: inline-block;
    margin-top: 3px;
    font-size: 14px;}
	.marketvalue {
    float: right;
    margin-right: 0%;
    font-size: 15px;
}
}

@media screen and (min-width: 375px) {
    #pitch {    		    -ms-transform: rotate(0deg); /* IE 9 */
				    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
				    transform: rotate(0deg);zoom: 111%;}
}
