<ion-view view-title="Options">
    <ion-content>
        <div class="list" side-menu-content="false">

            <a class="item item-icon-left" href="#/app/spain">
                <i class="icon"><img class="icon-competition" ng-src="img/ligabvva.png"></i> Ranglijst
            </a>

            <a class="item item-icon-left item-icon-left" href="#/app/teamtimedspain">
                <i class="icon"><img class="icon-competition" ng-src="img/ligabvva.png"></i> Competitieprogramma
            </a>
            <a class="item item-icon-left item-icon-left" href="#/app/teamfinishedspain">
                <i class="icon"><img class="icon-competition" ng-src="img/ligabvva.png"></i> Gespeelde Wedstrijden
            </a>
            <a class="item item-icon-left item-icon-left" href="#/app/teaminplayspain">
                <i class="icon"><img class="icon-competition" ng-src="img/ligabvva.png"></i> Live Score
            </a>

            <a class="item item-icon-left item-icon-left" href="#/app/teaminfospain">
                <i class="icon"><img class="icon-competition" ng-src="img/ligabvva.png"></i> Marktwaarde clubs
            </a>

        </div>
    </ion-content>
</ion-view>
